In [27]:
# Libraries
import pandas as pd
# Data reading
path = "/Users/Fox/Desktop/Data Science/Capstone"
df = pd.read_csv(path + "/Data/train/train.csv")

In [28]:
# Check Data Quality
# duplicate values
print(df.duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
14988    False
14989    False
14990    False
14991    False
14992    False
Length: 14993, dtype: bool

In [29]:
# missing values
print(df.isnull().any())

Type             False
Name              True
Age              False
Breed1           False
Breed2           False
Gender           False
Color1           False
Color2           False
Color3           False
MaturitySize     False
FurLength        False
Vaccinated       False
Dewormed         False
Sterilized       False
Health           False
Quantity         False
Fee              False
State            False
RescuerID        False
VideoAmt         False
Description       True
PetID            False
PhotoAmt         False
AdoptionSpeed    False
dtype: bool

In [30]:
# number of missing values
for COL in df.columns:
    print(COL + ':', len(df) - df[COL].count())

Type: 0
Name: 1257
Age: 0
Breed1: 0
Breed2: 0
Gender: 0
Color1: 0
Color2: 0
Color3: 0
MaturitySize: 0
FurLength: 0
Vaccinated: 0
Dewormed: 0
Sterilized: 0
Health: 0
Quantity: 0
Fee: 0
State: 0
RescuerID: 0
VideoAmt: 0
Description: 12
PetID: 0
PhotoAmt: 0
AdoptionSpeed: 0

In [31]:
# drop effect-free columns
df = df.drop(['Name',
              'RescuerID',
              'Description'], axis=1)

In [32]:
# drop missing values
df = df.dropna()
# drop duplicated values
df = df.drop_duplicates()
print("Orginal number of observations: 14993")
print("Number of cleaned observations:", len(df))
print("Omitted observations          :", 14993 - len(df))

# data skew check
print(pd.value_counts(df['AdoptionSpeed']))

Orginal number of observations: 14993
Number of cleaned observations: 14993
Omitted observations          : 0
4    4197
2    4037
3    3259
1    3090
0     410
Name: AdoptionSpeed, dtype: int64

In [37]:
# outlier check
# get descriptive statistics
statDF = df.describe()
# get the maximum and minimum
Max_min = statDF.loc[['max', 'min']]
# update statDF
statDF = df.describe()
statDF

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,VideoAmt,PhotoAmt,AdoptionSpeed
count,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000
mean,1.457614,10.452078,265.272594,74.009738,1.776162,2.234176,3.222837,1.882012,1.862002,1.467485,1.731208,1.558727,1.914227,1.036617,1.576069,21.259988,41346.028347,0.056760,3.889215,2.516441
std,0.498217,18.155790,60.056818,123.011575,0.681592,1.745225,2.742562,2.984086,0.547959,0.599070,0.667649,0.695817,0.566172,0.199535,1.472477,78.414548,32.444153,0.346185,3.487810,1.177265
min,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,41324.000000,0.000000,0.000000,0.000000
25%,1.000000,2.000000,265.000000,0.000000,1.000000,1.000000,0.000000,0.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000,41326.000000,0.000000,2.000000,2.000000
50%,1.000000,3.000000,266.000000,0.000000,2.000000,2.000000,2.000000,0.000000,2.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,0.000000,41326.000000,0.000000,3.000000,2.000000
75%,2.000000,12.000000,307.000000,179.000000,2.000000,3.000000,6.000000,5.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,0.000000,41401.000000,0.000000,5.000000,4.000000
max,2.000000,255.000000,307.000000,307.000000,3.000000,7.000000,7.000000,7.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,20.000000,3000.000000,41415.000000,8.000000,30.000000,4.000000

In [40]:
# save the cleaned data
# df.to_csv(path + "/Codes/DataPre.csv", index=None)
df_EDA = df

In [41]:
# Pet Type 
df_EDA['Type'] = df_EDA['Type'].apply(lambda x: 'Dog' if x == 1 else 'Cat')
# Gender
df_EDA['Gender']=df_EDA['Gender'].apply(lambda x: 'Male'if x == 1 else ('Female' if x == 2 else 'Not Sure'))
# Matrity Size 
df_EDA['MaturitySize']=df_EDA['MaturitySize'].apply(lambda x: 'Not Specified'if x == 0 else ('Small' if x == 1 else ('Medium' if x == 2 else ('Large' if x == 3 else 'Extra Large' ))))
# Fur Length
df_EDA['FurLength']=df_EDA['FurLength'].apply(lambda x: 'Not Specified'if x == 0 else ("Short" if x == 1 else ('Medium' if x == 2 else "Long")))
# Vaccinated
df_EDA['Vaccinated']=df_EDA['Vaccinated'].apply(lambda x: "Yes"if x == 1 else ("No" if x == 2 else "Not Sure"))
# Dewormed
df_EDA['Dewormed']=df_EDA['Dewormed'].apply(lambda x: "Yes"if x == 1 else ("No" if x == 2 else "Not Sure"))
# Sterilized
df_EDA['Sterilized']=df_EDA['Sterilized'].apply(lambda x: "Yes"if x == 1 else ("No" if x == 2 else "Not Sure"))
# Health
df_EDA['Health']=df_EDA['Health'].apply(lambda x: "Healthy" if x == 1 else ("Minor Injury" if x == 2 else ("Serious Injury" if x == 3 else "Not Sure")))
#Adoption Speed 
df_EDA['AdoptionSpeed']=df_EDA['AdoptionSpeed'].apply(lambda x: "Same Day"if x == 0 else ("1-7 Days" if x == 1 else ("8-30 Days" if x == 2 else ("31-90 Days" if x == 3 else "No Adoption" ))))

In [42]:
df_EDA

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,...,Dewormed,Sterilized,Health,Quantity,Fee,State,VideoAmt,PetID,PhotoAmt,AdoptionSpeed
0,Cat,3,299,0,Male,1,7,0,Small,Short,...,No,No,Healthy,1,100,41326,0,86e1089a3,1.0,8-30 Days
1,Cat,1,265,0,Male,1,2,0,Medium,Medium,...,Not Sure,Not Sure,Healthy,1,0,41401,0,6296e909a,2.0,Same Day
2,Dog,1,307,0,Male,2,7,0,Medium,Medium,...,Yes,No,Healthy,1,0,41326,0,3422e4906,7.0,31-90 Days
3,Dog,4,307,0,Female,1,2,0,Medium,Short,...,Yes,No,Healthy,1,150,41401,0,5842f1ff5,8.0,8-30 Days
4,Dog,1,307,0,Male,1,0,0,Medium,Short,...,No,No,Healthy,1,0,41326,0,850a43f90,3.0,8-30 Days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14988,Cat,2,266,0,Not Sure,1,0,0,Medium,Medium,...,No,No,Healthy,4,0,41326,0,dc0935a84,3.0,8-30 Days
14989,Cat,60,265,264,Not Sure,1,4,7,Medium,Medium,...,Yes,Yes,Healthy,2,0,41326,0,a01ab5b30,3.0,No Adoption
14990,Cat,2,265,266,Not Sure,5,6,7,Large,Medium,...,Yes,Not Sure,Healthy,5,30,41326,0,d981b6395,5.0,31-90 Days
14991,Cat,9,266,0,Female,4,7,0,Small,Short,...,Yes,Yes,Healthy,1,0,41336,0,e4da1c9e4,3.0,No Adoption
14992,Dog,1,307,307,Male,2,0,0,Medium,Short,...,No,No,Healthy,1,0,41332,0,a83d95ead,1.0,31-90 Days

In [43]:
df = df_EDA.drop(['Age','Fee','State'], axis=1)

In [44]:
df

,Type,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,VideoAmt,PetID,PhotoAmt,AdoptionSpeed
0,Cat,299,0,Male,1,7,0,Small,Short,No,No,No,Healthy,1,0,86e1089a3,1.0,8-30 Days
1,Cat,265,0,Male,1,2,0,Medium,Medium,Not Sure,Not Sure,Not Sure,Healthy,1,0,6296e909a,2.0,Same Day
2,Dog,307,0,Male,2,7,0,Medium,Medium,Yes,Yes,No,Healthy,1,0,3422e4906,7.0,31-90 Days
3,Dog,307,0,Female,1,2,0,Medium,Short,Yes,Yes,No,Healthy,1,0,5842f1ff5,8.0,8-30 Days
4,Dog,307,0,Male,1,0,0,Medium,Short,No,No,No,Healthy,1,0,850a43f90,3.0,8-30 Days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14988,Cat,266,0,Not Sure,1,0,0,Medium,Medium,No,No,No,Healthy,4,0,dc0935a84,3.0,8-30 Days
14989,Cat,265,264,Not Sure,1,4,7,Medium,Medium,Yes,Yes,Yes,Healthy,2,0,a01ab5b30,3.0,No Adoption
14990,Cat,265,266,Not Sure,5,6,7,Large,Medium,No,Yes,Not Sure,Healthy,5,0,d981b6395,5.0,31-90 Days
14991,Cat,266,0,Female,4,7,0,Small,Short,Yes,Yes,Yes,Healthy,1,0,e4da1c9e4,3.0,No Adoption
14992,Dog,307,307,Male,2,0,0,Medium,Short,No,No,No,Healthy,1,0,a83d95ead,1.0,31-90 Days

In [70]:
# import preprocessing from sklearn
from sklearn import preprocessing
# 1. INSTANTIATE
# encode labels with value between 0 and n_classes-1.
le = preprocessing.LabelEncoder()


# 2/3. FIT AND TRANSFORM
# use df.apply() to apply le.fit_transform to all columns
df_2 = df[['Type', 'Breed1', 'Breed2', 'Gender', 'Color1', 'Color2', 'Color3',
       'MaturitySize', 'FurLength', 'Vaccinated', 'Dewormed', 'Sterilized',
       'Health', 'Quantity', 'VideoAmt', 'PhotoAmt', 'AdoptionSpeed']].apply(le.fit_transform)
df_2['PetID'] = df['PetID']
df_2

,Type,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,VideoAmt,PhotoAmt,AdoptionSpeed,PetID
0,0,167,0,1,0,6,0,3,2,0,0,0,0,0,0,1,2,86e1089a3
1,0,136,0,1,0,1,0,2,1,1,1,1,0,0,0,2,4,6296e909a
2,1,175,0,1,1,6,0,2,1,2,2,0,0,0,0,7,1,3422e4906
3,1,175,0,0,0,1,0,2,2,2,2,0,0,0,0,8,2,5842f1ff5
4,1,175,0,1,0,0,0,2,2,0,0,0,0,0,0,3,2,850a43f90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14988,0,137,0,2,0,0,0,2,1,0,0,0,0,3,0,3,2,dc0935a84
14989,0,136,100,2,0,3,5,2,1,2,2,2,0,1,0,3,3,a01ab5b30
14990,0,136,102,2,4,5,5,1,1,0,2,1,0,4,0,5,1,d981b6395
14991,0,137,0,0,3,6,0,3,2,2,2,2,0,0,0,3,3,e4da1c9e4
14992,1,175,134,1,1,0,0,2,2,0,0,0,0,0,0,1,1,a83d95ead

In [73]:
printdf[['PetID', 'AdoptionSpeed']]
df_2[['PetID', 'AdoptionSpeed']]

           PetID  AdoptionSpeed
0      86e1089a3              2
1      6296e909a              4
2      3422e4906              1
3      5842f1ff5              2
4      850a43f90              2
...          ...            ...
14988  dc0935a84              2
14989  a01ab5b30              3
14990  d981b6395              1
14991  e4da1c9e4              3
14992  a83d95ead              1

[14993 rows x 2 columns]

           PetID  AdoptionSpeed
0      86e1089a3              2
1      6296e909a              4
2      3422e4906              1
3      5842f1ff5              2
4      850a43f90              2
...          ...            ...
14988  dc0935a84              2
14989  a01ab5b30              3
14990  d981b6395              1
14991  e4da1c9e4              3
14992  a83d95ead              1

[14993 rows x 2 columns]